{% extends "base.html" %}

{% block html_head %}
	<title>Banyan | Copyright Policy</title>
{% endblock %}

{% block content %}
<div class="container">
	<h1>Copyright Policy</h1>
	<h2>Effective date March 10, 2014.</h2>
	<ol>
		<li>
			<strong>Copyright and DMCA</strong>
			If you believe that your work has been copied in a way that constitutes copyright infringement, please provide Banyan's Copyright Agent the following information:
			<ul>
				<li>The copyright owner name (or company name), your full legal name, your title or job position, your full mailing address, telephone number, and email address</li>
				<li>A description of the copyrighted work or other intellectual property that you claim has been infringed</li>
				<li>A description of where the material that you claim is infringing is located on the site</li>
				<li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law</li>
				<li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright or intellectual property owner or an authorized person to act on the copyright or intellectual property owner's behalf</li>
				<li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest</li>
			</ul>
			Our Agent for Notice of claims of copyright or other intellectual property infringement can be reached as follows:
			Email Address of Designated Agent: <a href="mailto:help@banyan.io">help@banyan.io</a>
		</li>
		<li>
			<strong>Trademark Violation</strong>
			Trademark violations may involve using a company or business name, logo, or other trademark-protected materials in a manner that may mislead or confuse others with regard to its brand or business affiliation.
			Using another's trademark in a way that has nothing to do with the product or service for which the trademark was granted is not a violation of Banyan’s trademark policy. Note that Banyan usernames are provided on a first-come, first-served basis and may not be reserved.
			If an account is impersonating or violating the trademark of your brand, use our contact form or email us at copyright@seesaw.co in order to report the account and we will take a closer look. Please submit requests from your company email address and provide all of the following information:
			<ol>
				<li>Username of the reported account</li>
				<li>Your company name</li>
				<li>Your company account (if there is one)</li>
				<li>Company website</li>
				<li>Your trademarked word, symbol, etc.</li>
				<li>Trademark registration number</li>
				<li>Trademark registration office (ex: USPTO)</li>
			</ol>
			Note: A federal or international trademark registration number is required. If the name you are reporting is not a registered mark (ex: a government agency or non-profit organization), please let us know:
			<ol>
				<li>Your first and last name</li>
				<li>Title</li>
				<li>Address</li>
				<li>Phone number</li>
				<li>Email (must be from company domain)</li>
				<li>Description of confusion (ex: passing off as your company, including specific descriptions of content or behavior)</li>
				<li>Requested Action (ex: removal of violating account or transfer of trademarked username to an existing company account)</li>
			</ol>
		</li>
	</ol>
</div>
{% endblock %}