{% extends "base.html" %}

{% block html_head %}
	<title>Banyan | Privacy Policy</title>
{% endblock %}

{% block content %}
<div class="container">
	<h1>Privacy Policy</h1>
	<h2>Effective date March 10, 2014.</h2>
	<p>
		Welcome to Banyan- stories with friends by Banyan ("Banyan," "we", “the developers”, "us" or "our"). We provide a collaborative service that allows you to create and share “clips” made up of photos or “frames.”
		Our Privacy Policy explains how we collect, use, share and protect information in relation to our mobile services, web site, and any software provided on or in connection with Banyan services (collectively, the "Banyan Service"), and your choices about the collection and use of your information.
		By using our Banyan Service you understand and agree that we are providing a platform for you to post content, including photos, comments and other materials ("User Content"), to the Banyan Service and to share User Content publicly. This means that other Users may search for, see, use, or share any of your User Content that you make publicly available through the Banyan Service, consistent with the terms and conditions of this Privacy Policy and our Terms of Service (which can be found at everlapse.com/terms).
		Our Policy applies to all visitors, users, and others who access the Banyan Service ("Users").
		Click on the headings below to jump to each section of this Policy:
	</p>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#InformationWeCollect"> Information We Collect </a></h3>
			</div>
			<div id="InformationWeCollect" class="panel-collapse collapse in">
				<div class="panel-body">
					We collect the following types of information.
					<h4>Information you provide us directly:</h4>
					<ul>
						<li>Your Facebook or Twitter login information/username, Banyan username, and e-mail address when you register for a Banyan account.</li>
						<li>Profile information that you provide for your user profile (e.g., first name, last name, profile picture, birth date). This information allows us to help you or others be "found" and “referenced” on Banyan.</li>
						<li>User Content (e.g., photos, clips, frames, comments and other materials) that you post to the Banyan Service.</li>
						<li>Communications between you and us. For example, we may send you Banyan Service-related emails (e.g., account verification, changes/updates to features of the Banyan Service, technical and security notices).</li>
					</ul>
					<h4>Finding your friends on Banyan:</h4>
					<ul>
						<li>If you choose, you may be able to invite friends to provide input on your User Content. You may be able to do this by searching for other people with Banyan accounts through (i) your contacts list, (ii) third-party social media sites or (iii) through a search of names and usernames on Banyan.</li>		
						<li>If you choose to find your friends through your device's contacts list, then Banyan will access your contacts list to determine whether someone associated with your contact is using Banyan.</li>
						<li>If you choose to find your friends through a third-party social media site, then you will be prompted to set up a link to the third-party service and you understand that any information that such service may provide to us will be governed by this Privacy Policy.</li>
						<li>If you choose to find your friends through a search of names or usernames on Banyan then simply type a name to search and we will perform a search on the Banyan Service.</li>
					</ul>
					<h4>Analytics Information:</h4>
					<ul>
						<li>We may use third-party analytics tools to help us measure traffic and usage trends for the Banyan Service. These tools collect information sent by your device or the Banyan Service, including the web pages you visit, add-ons, and other information that assists us in improving the Banyan Service. We collect and use this analytics information with analytics information from other Users so that it cannot reasonably be used to identify any particular individual User.</li>
					</ul>
					<h4>Cookies and similar techonolgies:</h4>
					<ul>
						<li>When you visit the Banyan Service, we may use cookies and similar technologies like pixels, web beacons, and local storage to collect information about how you use Banyan and provide features to you.</li>
						<li>We may ask advertisers or other partners to serve ads or services to your devices, which may use cookies or similar technologies placed by us or the third party.</li>
					</ul>
					<h4>Log file information:</h4>
					<ul>
						<li>Log file information is automatically reported by your browser each time you make a request to access (i.e., visit) a web page or app. It can also be provided when the content of the webpage or app is downloaded to your browser or device.</li>
						<li>When you use the Banyan Service, our servers automatically record certain log file information, including your web request, Internet Protocol ("IP") address, browser type, referring / exit pages and URLs, number of clicks and how you interact with links on the Banyan Service, domain names, landing pages, pages viewed, and other such information. We may also collect similar information from emails sent to our Users which then help us track which emails are opened and which links are clicked by recipients. The information allows for more accurate reporting and improvement of the Banyan Service.</li>
					</ul>
					<h4>Device identifiers:</h4>
					<ul>
						<li>When you use a mobile device like a phone or tablet to access the Banyan Service, we may access, collect, monitor, store on your device, and/or remotely store one or more "device identifiers." Device identifiers are small data files or similar data structures stored on or associated with your mobile device, which uniquely identify your mobile device. A device identifier may be data stored in connection with the device hardware, data stored in connection with the device's operating system or other software, or data sent to the device by Banyan.</li>
						<li>A device identifier may deliver information to us or to a third party partner about how you browse and use the Banyan Service and may help us or others provide reports or personalized content and ads. Some features of the Banyan Service may not function properly if use or availability of device identifiers is impaired or disabled.</li>
					</ul>
					<h4>Metadata:</h4>
					<ul>
						<li>Metadata is usually technical data that is associated with User Content. For example, metadata can describe how, when and by whom a piece of User Content was collected and how that content is formatted. </li>
						<li>Users can add or may have metadata added to their User Content including a hashtag (e.g., to mark keywords when you post User Content), geotag (e.g., to mark your location to User Content), comments or other data. This makes your User Content more searchable by others and more interactive. If you geotag your User Content, your latitude and longitude will be stored with the User Content and searchable (e.g., through a location or map feature) if your User Content is made public by you in accordance with your privacy settings. </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#HowWeUserYourInformation"> How We Use Your Information </a></h3>
			</div>
			<div id="HowWeUserYourInformation" class="panel-collapse collapse">
				<div class="panel-body">
					In addition to some of the specific uses of information we describe in this Privacy Policy, we may use information that we receive to:
					<ul>
						<li>provide the Banyan Service to you</li>
						<li>help you efficiently access your information after you sign in</li>
						<li>remember information so you will not have to re-enter it during your visit or the next time you visit the Banyan Service</li>
						<li>provide personalized content and information to you and others, which could include online ads or other forms of marketing</li>
						<li>provide, improve, test, and monitor the effectiveness of the Banyan Service</li>
						<li>develop and test new products and features</li>
						<li>monitor metrics such as total number of visitors, traffic, and demographic patterns</li>
						<li>diagnose or fix technology problems</li>
						<li>automatically update the Banyan application on your device</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#SharingOfYourInformation"> Sharing of Your Information </a></h3>
			</div>
			<div id="SharingOfYourInformation" class="panel-collapse collapse">
				<div class="panel-body">
					We will not rent or sell your information to third parties outside the developers (or the group of companies of which we are a part) without your consent, except as noted in this Policy.
					arties with whom we may share your information:
					<ul>
						<li>We may share your information as well as information from tools like cookies, log files, and device identifiers and location data (such as usage data, referring/exit pages and URLs, platform types, number of clicks, etc.), with organizations that help us provide the Banyan Service to you ("Service Providers"). Our Service Providers will be given access to your information as is reasonably necessary to provide the Banyan Service under reasonable confidentiality terms.</li>
						<li>We may also share certain information such as cookie data with third-party advertising partners. This information would allow third-party ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you.</li>
						<li>We may remove parts of data that can identify you and share anonymized data with other parties. We may also combine your information with other information in a way that it is no longer associated with you and share that aggregated information.</li>
					</ul>
					Parties with whom you may choose to share your User Content:
					<ul>
						<li>Any information or content that you voluntarily disclose for posting to the Banyan Service, such as User Content, becomes available to the public, as controlled by any applicable privacy settings that you set. Once you have shared User Content or made it public, that User Content may be re-shared by others.</li>
						<li>If you remove information that you posted to the Banyan Service, copies may remain viewable in cached and archived pages of the Banyan Service, or if other Users or third parties have copied or saved that information.</li>
					</ul>
					What happens in the event of a change of control:
					<ul>
						<li>If we sell or otherwise transfer part or the whole of Banyan or our assets to another organization (e.g., in the course of a transaction like a merger, acquisition, bankruptcy, dissolution, liquidation), your information such as name and email address, User Content and any other information collected through the Banyan Service may be among the items sold or transferred. You will continue to own your User Content. The buyer or transferee will have to honor the commitments we have made in this Privacy Policy.</li>
					</ul>
					<strong>Instances where we may be required to share your information:</strong>
					We will disclose your information where required to do so by law or by judicial process or if we reasonably believe that such action is necessary to
					<ul>
						<li>comply with the law and the reasonable requests of law enforcement</li>
						<li>enforce our Terms of Service</li>
						<li>protect the security or integrity of the Banyan Service</li>
						<li>exercise or protect the rights, property, or personal safety of us, our Users or others</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#HowWeStoreYourInformation"> How We Store Your Information </a></h3>
			</div>
			<div id="HowWeStoreYourInformation" class="panel-collapse collapse">
				<div class="panel-body">
					Storage and Processing:
					<ul>
						<li>Your information collected through the Banyan Service may be stored and processed in the United States or any other country in which we, a company in the same group of companies as us or Service Providers maintain facilities.</li>
						<li>We may transfer information that we collect about you, including personal information across borders and from your country or jurisdiction to other countries or jurisdictions around the world. If you are located in the European Union or other regions with laws governing data collection and use that may differ from U.S. law, please note that we may transfer information, including personal information, to a country and jurisdiction that does not have the same data protection laws as your jurisdiction.</li>
						<li>By registering for and using the Banyan Service you consent to the transfer of information to the U.S. or to any other country in which we, a company in the same group of companies as us or Service Providers maintain facilities and the use and disclosure of information about you as described in this Privacy Policy.</li>
						<li>We use commercially reasonable safeguards to help keep the information collected through the Banyan Service secure and take reasonable steps (such as requesting a unique password) to verify your identity before granting you access to your account. However, We cannot ensure the security of any information you transmit to Banyan or guarantee that information on the Banyan Service may not be accessed, disclosed, altered, or destroyed.</li>
						<li>Please do your part to help us. You are responsible for maintaining the secrecy of your unique password and account information, and for controlling access to emails between you and us, at all times. Your privacy settings may also be affected by changes the social media services you connect to Banyan make to their services. We are not responsible for the functionality, privacy, or security measures of any other organization.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#YourChoicesAboutYourInformation"> Your Choices About Your Information </a></h3>
			</div>
			<div id="YourChoicesAboutYourInformation" class="panel-collapse collapse">
				<div class="panel-body">
					<strong>Your account information and profile/privacy settings:</strong>
					<ul>
						<li>Unsubscribe from email communications from us by clicking on the "unsubscribe link" provided in such communications. As noted above, you may not opt out of Banyan Service-related communications (e.g., account verification, purchase and billing confirmations and reminders, changes/updates to features of the Banyan Service, technical and security notices).</li>
						<li>If you believe that you have received an unsolicited commercial email from us, you may report it to us at <a href="mailto:help@banyan.io">help@banyan.io</a>.</li>
						<li>If you have any questions about reviewing or modifying your account information, please contact us directly at <a href="mailto:help@banyan.io">help@banyan.io</a>.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#ChildrensPrivacy"> Children's Privacy </a></h3>
			</div>
			<div id="ChildrensPrivacy" class="panel-collapse collapse">
				<div class="panel-body">
					We do not knowingly collect or solicit any information from anyone under the age of 13 or knowingly allow such persons to register for the Banyan Service. The Banyan Service and its content are not directed at children under the age of 13. In the event that we learn that we have collected personal information from a child under age 13 without parental consent, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under 13, please contact us at <a href="mailto:help@banyan.io">help@banyan.io</a>.					
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#OtherWebsitesAndServices"> Other Websites and Services </a></h3>
			</div>
			<div id="OtherWebsitesAndServices" class="panel-collapse collapse">
				<div class="panel-body">
					We are not responsible for the practices employed by any websites or services linked to or from the Banyan Service, including the information or content contained within them. Please remember that when you use a link to go from the Banyan Service to another website or service, our Privacy Policy does not apply to those third-party websites or services. Your browsing and interaction on any third-party website or service, including those that have a link on our website, are subject to that third party’s own rules and policies. In addition, you agree that we are not responsible and do not have control over any third-parties that you authorize to access your User Content. If you are using a third-party website or service and you allow them to access your User Content you do so at your own risk.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#HowToContactUsAboutADeceasedUser"> How to Contact Us About a Deceased User </a></h3>
			</div>
			<div id="HowToContactUsAboutADeceasedUser" class="panel-collapse collapse">
				<div class="panel-body">
					In the event of the death of a Banyan User, please send us an email to the following email address: <a href="mailto:help@banyan.io">help@banyan.io</a>. We will usually conduct our communication via email; should we require any other information, we will contact you at the email address you have provided in your request.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#HowToContactUs"> How to Contact Us </a></h3>
			</div>
			<div id="HowToContactUs" class="panel-collapse collapse">
				<div class="panel-body">
					If you have any questions about this Privacy Policy or the Banyan Service, please contact us at <a href="mailto:help@banyan.io">help@banyan.io</a>.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#ChangesToPrivacyPolicy"> Changes to Our Privacy Policy </a></h3>
			</div>
			<div id="ChangesToPrivacyPolicy" class="panel-collapse collapse">
				<div class="panel-body">
					We may modify or update this Privacy Policy from time to time, so please review it periodically. We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of Banyan or the Banyan Service after any modification to this Privacy Policy will constitute your acceptance of such modification.
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}