@import url(http://fonts.googleapis.com/css?family=Cantarell);

@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

li {
    list-style: none;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}


#preloader {
    background-color: #eee;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100000;
}

#preloader .contents {
    width: 300px;
    height: 200px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    opacity: 0;
}

#preloader .contents .animation {
    width: 91px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -45px;
}

#preloader .contents .progress {
    height: 7px;
    width: 302px;
    background-color: #fefefe;
    border-radius: 2px;
    margin-top: 10px;
    box-shadow: 0 1px 3px #ccc;
    -o-box-shadow: 0 1px 3px #ccc;
    -moz-box-shadow: 0 1px 3px #ccc;
    -webkit-box-shadow: 0 1px 3px #ccc;
}

#preloader .contents .progress .fill {
    background-color: #d7464b;
    transition: width .5s ease-out;
    -o-transition: width .5s ease-out;
    -moz-transition: width .5s ease-out;
    -webkit-transition: width .5s ease-out;
    background-image: gradient(linear,0% 100%,0% 0,from(#af282d),to(#d7464b));
    background-image: -o-gradient(linear,0% 100%,0% 0,from(#af282d),to(#d7464b));
    background-image: -moz-gradient(linear,0% 100%,0% 0,from(#af282d),to(#d7464b));
    background-image: -webkit-gradient(linear,0% 100%,0% 0,from(#af282d),to(#d7464b));
    border-radius: 2px;
    height: 7px;
    width: 0;
}

div.sharing a,footer div.print a span.icon,footer div.lights a,.lights a span.icon,div.lights.clone,div.lights.clone a,.lights.clone a span.icon,.fullscreen a span.icon,div.fullscreen.clone,div.fullscreen.clone a,.fullscreen.clone a span.icon,footer div.fullscreen a,#shadow .shadow-left,#shadow .shadow-right,#search-dropdown div.background-top,#search-dropdown div.background-bottom,#spine div,#chapter-nav ul li,#chapter-nav a.over div.small-book,#table-of-contents ul li div.medium-book,#table-of-contents a.go-back,#pagination-prev div.arrow,#pagination-next div.arrow,#overlay div.bookmark,#overlay div.bookmark .content a.close,#overlay div.print,#overlay div.print a.close,#overlay div.print p,#overlay div.print a.downloadPdf:hover,#overlay div.print a.printBook:hover,#credits div.people ul li h3,#credits div.share ul li span.icon,#front-cover-bookmark,#sharer div.background-top,#sharer div.background-bottom,#sharer div.content ul li a,#sharer div.content p.instruction span,#sharer div.content ul li.print #front-cover-arrow,#paperstack .shadow,#overlay div.print a.disabled,#language-selector-title>a {
    background: transparent url('../images/book/sprites.png') no-repeat top left;
}

#book {
    width: 1660px;
    height: 520px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -270px 0 0 -1220px;
    z-index: 2px;
}

#grey-mask {
    background: url('../images/book/grey-mask.png') repeat-y top left;
    position: absolute;
    display: block;
    z-index: 1100;
    height: 100%;
    width: 60px;
}

#left-page {
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    height: 520px;
}

body.home #left-page {
    width: 0;
}

#right-page {
    position: absolute;
    overflow: hidden;
    left: 830px;
    z-index: 10;
    background-color: #fff;
    height: 520px;
}

body.credits #right-page {
    width: 0;
}

#paperstack {
    position: absolute;
    width: 34px;
    height: 500px;
    top: 10px;
    left: 800px;
}

#paperstack .paper {
    width: 1px;
    float: left;
    z-index: 2;
}

#paperstack .paper.s1 {
    height: 500px;
    margin-top: 0;
    background-color: #b6d6d6;
}

#paperstack .paper.s2 {
    height: 498px;
    margin-top: 1px;
    background-color: #c8c9c9;
}

#paperstack .paper.s3 {
    height: 496px;
    margin-top: 2px;
    background-color: #d6d6d6;
}

#paperstack .paper.s4 {
    height: 494px;
    margin-top: 3px;
    background-color: #c8c9c9;
}

#paperstack .paper.s5 {
    height: 492px;
    margin-top: 4px;
    background-color: #d6d6d6;
}

#paperstack .paper.s6 {
    height: 490px;
    margin-top: 5px;
    background-color: #c8c9c9;
}

#paperstack .paper.s7 {
    height: 488px;
    margin-top: 6px;
    background-color: #d6d6d6;
}

#paperstack .shadow {
    background-position: -1018px -169px;
    width: 30px;
    height: 500px;
    margin-left: 0;
}

#paperstack .paper,#paperstack .shadow {
    transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -webkit-transition: opacity .15s linear;
}

#front-cover {
    display: none;
    position: absolute;
    left: 830px;
    top: 0;
    height: 520px;
    z-index: 1000;
    background-color: #7893c1;
}

body.home #front-cover {
    display: block;
}

#back-cover {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 520px;
    z-index: 1001;
    background-color: #7893c1;
}

body.credits #back-cover {
    display: block;
}

#page-shadow-overlay {
    display: none;
    position: absolute;
    z-index: 999;
    left: 831px;
    top: 10px;
    width: 800px;
    height: 500px;
    opacity: 0;
    background-color: #000;
}

#front-cover-bookmark {
    background-position: -790px -152px;
    width: 205px;
    height: 630px;
    display: block;
    position: absolute;
    left: 840px;
    top: -41px;
    z-index: 1100;
}

body.overlay #front-cover-bookmark {
    opacity: 0;
    transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
}

#front-cover-bookmark div.content {
    text-align: center;
    padding: 0 40px;
    line-height: 1.05em;
    width: 117px;
}

#front-cover-bookmark div.content h3 {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    position: relative;
    top: 170px;
}

#front-cover-bookmark div.content p {
    font-size: 12px;
    color: #666;
    position: relative;
    top: 172px;
    margin-bottom: 12px;
    line-height: 1.5em;
}

#front-cover-bookmark a.open-book {
    position: absolute;
    top: 440px;
    left: 43px;
    color: #fff;
    padding: 4px 6px 3px 6px;
    width: 97px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    background-color: #a22;
    background-image: gradient(linear,0% 100%,0% 0,from(#af282d),to(#d7464b));
    background-image: -o-gradient(linear,0% 100%,0% 0,from(#af282d),to(#d7464b));
    background-image: -moz-gradient(linear,0% 100%,0% 0,from(#af282d),to(#d7464b));
    background-image: -webkit-gradient(linear,0% 100%,0% 0,from(#af282d),to(#d7464b));
    box-shadow: 0 1px 3px #333;
    -o-box-shadow: 0 1px 3px #333;
    -moz-box-shadow: 0 1px 3px #333;
    -webkit-box-shadow: 0 1px 2px #333;
    text-shadow: 0 1px 1px #666;
    -o-text-shadow: 0 1px 1px #666;
    -moz-text-shadow: 0 1px 1px #666;
    -webkit-text-shadow: 0 1px 1px #666;
}

#front-cover-bookmark a.open-book:hover {
    background-image: gradient(linear,0% 100%,0% 0,from(#af282d),to(#eb555a));
    background-image: -o-gradient(linear,0% 100%,0% 0,from(#af282d),to(#eb555a));
    background-image: -moz-gradient(linear,0% 100%,0% 0,from(#af282d),to(#eb555a));
    background-image: -webkit-gradient(linear,0% 100%,0% 0,from(#af282d),to(#eb555a));
}

#front-cover-bookmark a.open-book:active {
    background-image: gradient(linear,0% 100%,0% 0,to(#a5282d),from(#af282d));
    background-image: -o-gradient(linear,0% 100%,0% 0,to(#a5282d),from(#af282d));
    background-image: -moz-gradient(linear,0% 100%,0% 0,to(#a5282d),from(#af282d));
    background-image: -webkit-gradient(linear,0% 100%,0% 0,to(#a5282d),from(#af282d));
}

#front-cover-bookmark #flip-intro {
    position: absolute;
    top: 486px;
    left: 54px;
}

header {
/*	background-image:url(../images/header-bg.jpg); 
	background-position:left top;*/
    background-repeat: repeat-x;
    width: 100%;
    height: 79px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 950px;
    z-index: 2000;
}

body:not(.tot).credits header nav ul li.credits,body.tot header nav ul li.table-of-things {
    padding: 0 5px;
    height: 23px;
    background-color: #f1f1f1;
    border-radius: 3px;
    border-top: 1px #d3d3d3 solid;
    border-bottom: 1px #f8f8f8 solid;
    border-left: 1px #e9e9e9 solid;
    border-right: 1px #e9e9e9 solid;
}

#pagination-prev {
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 0;
    opacity: 1;
    transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
    -webkit-transition: opacity .4s linear;
}

.home #pagination-prev {
    opacity: 0;
}

#pagination-prev div.arrow {
    background-position: -366px -189px;
    width: 42px;
    height: 70px;
    text-indent: -10000em;
}

#pagination-prev:hover div.arrow {
    background-position: -366px -290px;
}

#pagination-prev:active div.arrow {
    background-position: -366px -390px;
}

#pagination-prev.inactive div.arrow {
    background-position: -366px -490px;
    cursor: default;
}

#pagination-next {
    position: absolute;
    z-index: 1500;
    top: 50%;
    right: 0;
    opacity: 1;
    transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
    -webkit-transition: opacity .4s linear;
}

.credits #pagination-next {
    opacity: 0;
}

#pagination-next div.arrow {
    background-position: -471px -189px;
    width: 42px;
    height: 70px;
    text-indent: -10000em;
}

#pagination-next:hover div.arrow {
    background-position: -471px -290px;
}

#pagination-next:active div.arrow {
    background-position: -471px -390px;
}

#pagination-next.inactive div.arrow {
    background-position: -471px -490px;
    cursor: default;
}

div.page-progress {
    background-color: #eee;
    position: absolute;
    right: 50px;
    top: 16px;
    padding: 6px;
    width: auto;
    visibility: hidden;
    opacity: 0;
}

div.page-progress p.thing {
    display: block;
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
}

div.page-progress p.number {
    display: block;
    font-size: 9px;
    white-space: nowrap;
}

.cs-CZ div.page-progress p.number,.pl-PL div.page-progress p.number {
    font-size: 12px;
}

#pagination-next div.page-progress {
    right: 50px;
    top: 17px;
    text-align: right;
}

#pagination-next div.page-progress,#pagination-next:hover div.page-progress {
    transition: opacity .21s linear;
    -o-transition: opacity .21s linear;
    -moz-transition: opacity .21s linear;
    -webkit-transition: opacity .21s linear;
}

#pagination-next:hover div.page-progress {
    visibility: visible;
    opacity: 1;
}

#pagination-prev div.page-progress {
    left: 50px;
    right: auto;
    top: 18px;
    text-align: left;
}

#pagination-prev div.page-progress,#pagination-prev:hover div.page-progress {
    transition: opacity .21s linear;
    -o-transition: opacity .21s linear;
    -moz-transition: opacity .21s linear;
    -webkit-transition: opacity .21s linear;
}

#pagination-prev:hover div.page-progress {
    visibility: visible;
    opacity: 1;
}

#credits {
    position: absolute;
    width: 640px;
    height: 510px;
    left: 50%;
    top: 50%;
    margin: -255px 0 0 -320px;
    text-align: center;
    display: none;
    z-index: 1;
}

body.credits #credits {
    display: block;
}

#credits hr {
    width: 640px;
    border-color: #fff;
    color: #eee;
}

#credits div.header h2 {
    font-size: 26px;
    font-weight: bold;
    text-shadow: 0 1px 1px #fff;
    -o-text-shadow: 0 1px 1px #fff;
    -moz-text-shadow: 0 1px 1px #fff;
    -webkit-text-shadow: 0 1px 1px #fff;
}

#credits div.header h2 span {
    padding: 0 8px;
    background-color: #eee;
    position: relative;
    z-index: 1;
    transition: background-color .4s linear;
    -o-transition: background-color .4s linear;
    -moz-transition: background-color .4s linear;
    -webkit-transition: background-color .4s linear;
}

#credits div.header hr {
    position: absolute;
    top: 6px;
}

#credits div.people {
    margin: 30px 0 15px 0;
}

#credits div.people ul li {
    display: inline-block;
    width: 184px;
    height 65px;
    color: #666;
    margin: 0 13px 18px 13px;
    font-size: 12px;
    line-height: 16px;
    vertical-align: top;
}

#credits div.people ul li h3 {
    background-position: -10px -549px;
    width: 184px;
    height: 26px;
    display: block;
    color: #fff;
    font-weight: bold;
    padding-top: 5px;
    font-size: 10px;
}

#credits div.people h4 {
    font-size: 14px;
    font-weight: bold;
    clear: both;
    margin-top: 6px;
}

#credits div.people p {
    margin-top: 7px;
    font-size: 12px;
    color: #666;
    line-height: 1.7em;
    width: 640px;
}

#credits div.share {
    margin-top: 20px;
    text-align: left;
}

#credits div.share p {
    color: #999;
    font-size: 11px;
    width: 240px;
    float: left;
    line-height: 15px;
}

.cs-CZ #credits div.share p,.pl-PL #credits div.share p {
    font-size: 10px;
}

#credits div.share ul {
    float: right;
    margin-top: -4px;
}

#credits div.share ul li {
    font-size: 10px;
    font-weight: bold;
    float: left;
    margin-left: 8px;
    padding: 10px 0 0 10px;
    width: 41px;
    height: 41px;
    outline: 1px solid #eee;
    cursor: pointer;
    border-radius: 4px;
    background-color: #eee;
    transition: background-color,outline .1s,.1s linear;
    -o-transition: background-color,outline .1s,.1s linear;
    -moz-transition: background-color,outline .1s,.1s linear;
    -webkit-transition: background-color,outline .1s,.1s linear;
}

#credits div.share ul li.facebook {
    margin-left: 0;
}

#credits div.share ul li:hover {
    background-color: #f7f7f7;
    outline: 1px solid #ddd;
}

#credits div.share ul li span.text {
    display: none;
    float: left;
    margin-top: 4px;
}

#credits div.share ul li a:hover {
    color: #000;
}

#credits div.share ul li span.icon {
    display: block;
    width: 31px;
    height: 31px;
    float: left;
}

#credits div.share ul li.facebook span.icon {
    background-position: -28px -609px;
}

#credits div.share ul li.twitter span.icon {
    background-position: -82px -609px;
}

#credits div.share ul li.gplus {
    cursor: default;
    width: 48px;
    padding-top: 14px;
    height: 37px;
}

#credits div.people p.html5-logo {
    margin: 4px 0 24px 0;
}

#credits div.people p.html5-logo img {
    position: relative;
    top: 11px;
}

#overlay {
    background: url('../images/book/overlay-pattern.png') repeat top left;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2200;
}

#overlay div.bookmark {
    background-position: -585px -160px;
    width: 190px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -95px;
}

#overlay div.bookmark .content {
    margin: 20px;
    text-align: center;
    color: #fff;
}

#overlay div.bookmark .content a.close,#overlay div.print a.close {
    display: inline-block;
    background: #fff;
    font-size: 11px;
    font-weight: bold;
    color: #b41e21;
    padding: 6px 8px 5px 8px;
    margin: 22px 0 0 5px;
    border-radius: 6px;
    opacity: .7;
    transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -webkit-transition: opacity .1s linear;
}

#overlay div.bookmark .content a.close:hover {
    opacity: 1;
}

#overlay div.bookmark .content h3 {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3em;
    margin-top: 70px;
    letter-spacing: -1px;
    padding: 0 8px;
}

#overlay div.bookmark .content p {
    font-size: 13px;
    line-height: 1.3em;
    margin-top: 18px;
    color: #daa8a9;
    padding: 0 16px;
}

#overlay div.bookmark .content a.action {
    color: #fff;
    background-color: #a52c23;
    font-size: 16px;
    display: block;
    font-weight: bold;
    position: relative;
    left: 20px;
    width: 90px;
    transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -webkit-transition: background-color .1s linear;
    border: 1px #9c2325 solid;
    border-radius: 6px;
    padding: 9px 9px;
}

#overlay div.bookmark .content a.action:hover {
    background-color: #b83436;
    border: 1px #9c2325 solid;
    border-radius: 6px;
    padding: 9px 9px;
}

#overlay div.bookmark .content a.action:active {
    background-color: #ab383a;
    border: 1px #9c2325 solid;
    border-radius: 6px;
    padding: 9px 9px;
}

#overlay div.bookmark .content a.action.resume {
    margin-top: 24px;
}

#overlay div.bookmark .content a.action.restart {
    margin-top: 16px;
}

#overlay div.print {
    background-position: -565px -794px;
    width: 705px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -74px 0 0 -352px;
}

#overlay div.print a.close {
    color: #fff;
    margin: 3px 0 0 323px;
    width: 45px;
    height: 16px;
    padding: 7px 0 0 12px;
    position: absolute;
    z-index: 5000;
    opacity: 1;
    background: #333;
}

#overlay div.print a.close:hover {
    color: #333;
    background: #fff;
}

#overlay div.print a.printBook,#overlay div.print a.downloadPdf {
    display: block;
    width: 352px;
    height: 166px;
    float: left;
    margin-top: 7px;
}

#overlay div.print a.printBook:hover {
    background-position: -566px -996px;
}

#overlay div.print a.downloadPdf:hover {
    background-position: -917px -996px;
}

#overlay div.print a.downloadPdf.disabled,#overlay div.print a.downloadPdf.disabled:hover {
    background-position: -917px -1176px;
    cursor: default;
}

#overlay div.print h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin: 38px 0 0 109px;
    letter-spacing: -1px;
}

#overlay div.print a.downloadPdf h2 {
    margin-left: 43px;
}

#overlay div.print a.disabled h2 {
    color: #999;
}

#overlay div.print p {
    font-size: 11px;
    width: 124px;
    color: #666;
    margin: 15px 0 0 78px;
    padding: 20px 20px 15px 110px;
    background-position: -1156px -1487px;
}

#overlay div.print a.downloadPdf p {
    margin-left: 35px;
    padding-right: 0;
    padding-left: 100px;
    width: 144px;
    background-position: -1174px -1424px;
}

#overlay div.print a.downloadPdf.disabled p {
    background-position: -1174px -1364px;
}

#overlay div.print a:hover h2,#overlay div.print a:hover p {
    color: #fff;
}

#overlay div.print a.disabled:hover h2 {
    color: #999;
}

#overlay div.print a.disabled:hover p {
    color: #666;
}

#sharer,#sharer:hover,#sharer div.content ul,#sharer:hover div.content ul,#sharer div.background-bottom,#sharer:hover div.background-bottom,#sharer div.content,#sharer:hover div.content {
    transition: all .2s cubic-bezier(0.1,0.3,0.58,1.0);
    -o-transition: all .2s cubic-bezier(0.1,0.3,0.58,1.0);
    -moz-transition: all .2s cubic-bezier(0.1,0.3,0.58,1.0);
    -webkit-transition: all .2s cubic-bezier(0.1,0.3,0.58,1.0);
}

#sharer div.content ul li,#sharer div.content ul li:hover {
    transition: all .11s cubic-bezier(0.1,0.3,0.58,1.0);
    -o-transition: all .11s cubic-bezier(0.1,0.3,0.58,1.0);
    -moz-transition: all .11s cubic-bezier(0.1,0.3,0.58,1.0);
    -webkit-transition: all .11s cubic-bezier(0.1,0.3,0.58,1.0);
}

#sharer {
    width: 80px;
    height: 140px;
    position: absolute;
    left: 723px;
    top: 8px;
    z-index: 10;
    display: none;
    overflow: hidden;
}

#sharer:hover {
    height: 200px;
}

#sharer div.background-top {
    background-position: -213px -509px;
    width: 80px;
    height: 7px;
}

#sharer div.background-bottom {
    background-position: -213px -602px;
    width: 80px;
    height: 129px;
    position: absolute;
}

#sharer:hover div.background-bottom {
    background-position: -213px -516px;
    width: 80px;
    height: 195px;
}

#sharer div.content {
    height: 200px;
    width: 47px;
    position: absolute;
    margin-left: 16px;
    bottom: 0;
}

#sharer div.content ul {
    margin-top: 10px;
    opacity: 0;
}

#sharer:hover div.content ul {
    opacity: 1;
    margin-bottom: 44px;
}

#sharer div.content ul li {
    margin-bottom: 1px;
}

#sharer div.content ul li:hover {
    background-color: #cd4446;
}

#sharer div.content ul li a {
    width: 47px;
    height: 39px;
    display: block;
}

#sharer div.content ul li.facebook a {
    background-position: -289px -519px;
}

#sharer div.content ul li.twitter a {
    background-position: -289px -559px;
}

#sharer div.content p.index {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    text-shadow: 0 -1px 1px #744041;
    -o-text-shadow: 0 -1px 1px #744041;
    -moz-text-shadow: 0 -1px 1px #744041;
    -webkit-text-shadow: 0 -1px 1px #744041;
}

#sharer div.content p.index span {
    font-size: 26px;
    display: block;
    width: 46px;
    text-align: center;
    position: absolute;
}

#sharer div.content p.instruction {
    margin: 60px 0 0 -16px;
    text-align: center;
    font-weight: bold;
    font-size: 9px;
    color: #666;
    width: 80px;
}

.cs-CZ #sharer div.content p.instruction,.pl-PL #sharer div.content p.instruction {
    font-size: 10px;
}

#sharer div.content p.instruction span {
    background-position: -309px -617px;
    width: 6px;
    height: 6px;
    display: block;
    margin: 5px 0 0 37px;
}

#piece-info {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 550px;
    top: 200px;
    z-index: 10;
    display: absolute;
    overflow: hidden;
    color: gray;
}

#piece-info div.infobox {
}

#pages {
    width: 1600px;
    height: 500px;
    position: absolute;
    left: 32px;
    top: 10px;
}

#pages section {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 0;
    margin-left: 799px;
    overflow: hidden;
    background: url('../images/book/right-page-paper.jpg') no-repeat;
    background-color: #fff;
}

#pages section div.page {
    width: 715px;
    height: 440px;
    position: absolute;
    padding: 25px 45px 35px 45px;
}

body.tot #pagination-prev,body.tot #pagination-next {
    display: none!important;
}

#articleId,#pageNumber,#currentPage {
    display: none;
}

#front-cover,#back-cover,#pages section,#front-cover-bookmark {
    transition: transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -webkit-transition: -webkit-transform .2s ease-out;
}

#front-cover-bookmark {
    transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

#book-shadow {
    position: absolute;
    bottom: 5px;
    right: 14px;
    width: 1613px;
    height: 498px;
    opacity: 1;
    box-shadow: 0 0 45px #5f5f5f;
    -o-box-shadow: 0 0 45px #5f5f5f;
    -moz-box-shadow: 0 0 45px #5f5f5f;
    -webkit-box-shadow: 0 0 45px #5f5f5f;
}

.home #book-shadow {
    width: 803px;
    right: 14px;
}

.credits #book-shadow {
    right: 850px;
}

.dark #book-shadow {
    display: none;
}

#shadow {
    height: 555px;
    width: 1620px;
    position: absolute;
    right: 20px;
    top: -13px;
    background: url('../images/book/repeat-x.png') repeat-x;
}

.home #shadow {
    width: 790px;
}

.credits #shadow {
    width: 790px;
    right: auto;
    left: 20px;
}

#shadow .shadow-left {
    height: 555px;
    width: 37px;
    position: absolute;
    left: -37px;
    background-position: -16px -874px;
}

#shadow .shadow-right {
    height: 555px;
    width: 37px;
    position: absolute;
    right: -37px;
    background-position: -72px -874px;
}

#spine {
    height: 522px;
    width: 55px;
    position: absolute;
    left: 803px;
    top: -1px;
    opacity: 1;
    transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
    -webkit-transition: opacity .4s linear;
}

.home #spine,.credits #spine {
    opacity: 0;
    transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    -moz-transition: opacity .4s linear;
    -webkit-transition: opacity .4s linear;
}

#spine div {
    width: 55px;
    height: 1px;
    background-position: -28px -773px;
    position: absolute;
    top: 0;
}

#spine .spine-bottom {
    top: auto;
    bottom: 0;
}

.touch-device #chapter-nav ul li:hover,.touch-device #chapter-nav ul li:hover {
    opacity: 1;
}

.touch-device #chapter-nav ul li a.over {
    display: none!important;
}

#pages section div.page {
    width: 715px;
    height: 440px;
    position: absolute;
    padding: 35px 45px 35px 45px;
}

#pages section h2,#pages section h3 {
    font-family: MolengoRegular,Arial,Helvetica,sans-serif;
    color: #1a1a1a;
    text-align: center;
    font-weight: 200;
}

.cs-CZ #pages section h2,.cs-CZ #pages section h3,.pl-PL #pages section h2,.pl-PL #pages section h3 {
    font-family: 'Cantarell',Arial,sans-serif;
    line-height: 1.1em;
    margin-top: -6px;
}

#pages section h2 {
    font-size: 42px;
    text-transform: uppercase;
    line-height: .96em;
}

.ru-RU #pages section h2 {
    font-size: 34px;
    line-height: 1.06em;
}

#pages section h3 {
    font-size: 18px;
    padding: 3px 3px 20px 3px;
    line-height: 1.1em;
}

#pages section h4 {
    font-size: 13px;
    padding: 2px 0;
    line-height: 20px;
}

.ru-RU #pages section h4 {
    font-family: Times,Georgia,serif;
}

.cs-CZ #pages section h4,.pl-PL #pages section h4 {
    line-height: 16px;
    font-size: 12px;
}

#pages section p {
   word-spacing: 3px;
   font-size:40px; 
   font-weight:50; 
   color:#444; 
   line-height:50px;  
   margin-bottom:15px; 
   margin-bottom:12px; 
   font-family: 'FengardoNeueRegular', Arial, sans-serif;
/*   text-align: center;*/
}

.cs-CZ #pages section p,.pl-PL #pages section p {
    font-family: 'Crimson Text',Georgia,serif;
    font-size: 15px;
}

.ru-RU #pages section p {
    font-family: Times,Georgia,serif;
}

.ja-JP #pages section p,.zh-CN #pages section p {
    text-align: left;
}

#pages section em {
    font-style: normal;
}

#pages section .page a {
    color: #1c4c96;
    border-bottom: dotted #aaa 1px;
}

#pages section .page a:hover {
    color: #5e9dff;
    border-bottom: dotted #5e9dff 1px;
}

#pages section span {
    font-family: DroidSerif,Times,serif;
}

.cs-CZ #pages section span,.pl-PL #pages section span {
    font-family: 'Crimson Text',Georgia,serif;
    font-size: 15px;
}

#pages section ul li {
    font-family: DroidSerif,Times,serif;
    list-style: circle;
    font-size: 13px;
    line-height: 20px;
    word-spacing: 3px;
    text-align: justify;
    margin-bottom: 10px;
}

.cs-CZ #pages section ul li,.pl-PL #pages section ul li {
    font-family: 'Crimson Text',Georgia,serif;
    font-size: 15px;
}

#pages section div.page span.pageNumber {
    font-family: DroidSerif,Times,serif;
    font-size: 11px;
    float: right;
    position: absolute;
    bottom: 22px;
    right: 20px;
    color: #999;
}

.cs-CZ #pages section div.page span.pageNumber,.pl-PL #pages section div.page span.pageNumber {
    font-family: 'Crimson Text',Georgia,serif;
    font-size: 15px;
}

#pages section.title-theend {
    background: none;
}

#pages section.title-theend .pageNumber {
    display: none;
}

#pages section p.continuation:first-letter {
    margin: 0;
}

#pages section p.drop-cap:first-letter {
    font-size: 45px;
    float: left;
    margin: 7px 5px 0 0;
    vertical-align: text-top;
}

#pages section p.note {
    font-style: italic;
    color: #555;
    font-size: 12px;
}

#pages section .image-description {
    font-style: italic;
    color: #555;
    font-size: 12px;
    text-align: center;
    margin: 5px 0 0 0;
    text-indent: 0;
    display: block;
}

#pages section cite {
    color: #999;
    font-size: 11px;
    position: absolute;
    bottom: 24px;
    left: 45px;
    display: block;
}

#pages section .ip-address {
    font-weight: bold;
    font-size: 13px;
    display: block;
    margin-bottom: 7px;
}

#pages section span.highlight {
    color: #960000;
}

#pages .template-inner-1 p:first-letter,#pages .template-inner-2 p:first-letter,#pages .template-inner-3 p:first-letter,#pages .template-inner-4 p:first-letter,#pages .template-inner-5 p:first-letter,#pages .template-inner-6 p:first-letter,#pages .template-inner-7 p:first-letter,#pages .template-inner-8 p:first-letter,#pages .template-inner-9 p:first-letter,#pages .template-start-1 p:first-letter,#pages .template-start-2 p:first-letter,#pages .template-start-3 p:first-letter,#pages .template-start-5 p:first-letter,#pages .template-start-6 p:first-letter,#pages .template-start-7 p:first-letter,#pages .template-start-8 p:first-letter,#pages .template-start-9 p:first-letter {
    margin-left: 30px;
}

.ja-JP #pages p:first-letter {
    margin-left: 0;
}